<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">Kanban</h1>
            </div>
        </div>
    </div>

    <div class="board">
        <div class="board-bar">
            <p class="board-name">{{board.name}}</p>
        </div>
        <div class="level mt-2">
            <div class="level-item">
                <!-- Tooltip -->
                <div class="tooltip">
                    <span class="fa-stack fa-lg has-text-success pointer" (click) = "save()">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-floppy-disk fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="tooltiptext tooltip-bottom">Save</span>
                </div>
                <div class="tooltip">
                    <div class="js-modal-trigger" data-target="modal-js-example">
                        <span class="fa-stack fa-lg has-text-info pointer">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                            <!-- <i class="fa fa-plus fa-stack-1x fa-inverse"></i> -->
                            <!-- <i class="fa-solid fa-plus fa-2xs"></i> -->
                        </span>
                    </div>
                    <span class="tooltiptext tooltip-bottom">New Activity</span>
                </div>
                <div class="tooltip">
                    <span class="fa-stack fa-lg pointer" style="color: #CCCC00	;" (click)="triggerEdit()">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="tooltiptext tooltip-bottom">Edit</span>
                </div>
                <div class="tooltip">
                    <div class="js-modal-trigger" data-target="modal-my-board" (click)="selectAllBoard()"> 
                        <span class="fa-stack fa-lg pointer" style="color: rgb(75, 193, 233)">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-list-check fa-stack-1x fa-inverse"></i>
                        <!-- <i class="fa fa-plus fa-stack-1x fa-inverse"></i> -->
                        <!-- <i class="fa-solid fa-plus fa-2xs"></i> -->
                        </span>
                </div>
                <span class="tooltiptext tooltip-bottom">My Board</span>
            </div>
                <!-- <span awesomeTooltip="Tooltip text">This is an example</span> -->


            </div>
                
        </div>
        
        <!-- <div><i class="fa-solid fa-circle fa-lg fa-floppy-disk"></i></div> -->
        <!-- <button class="button is-info" onclick="setZero()">Reset</button> -->
        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" *ngFor="let column of data">
                    
                    <div class="level">
                        <div class="level-left column-title mt-3">
                            <p [id]="column.id" (dblclick)="showEditActivity($event, column)">{{column.name}}</p>
                            <span class="hidden-icon" style="display: none;" (click)="showEditActivity($event, column)">
                                <i class="ml-2 fa-solid fa-highlighter pointer white-color"></i>
                            </span>
                        </div>
                        <div class="level-right pointer" (click)="onShowInsert(column.name)">
                            <i class="fa-solid fa-lg fa-circle-plus has-text-info"></i>
                        </div>

                    </div>
                        
                    <div class="task-container" [id]="'container' + column.name" hidden>
                        <div class="task">
                            <input [id]="'task' + column.name" class="input is-normal" type="text" placeholder="New task" (keypress)="insertTask($event, column)" required>
                            <span class="mt-2 ml-1 has-text-danger" style="cursor: pointer;" (click)="onCloseInsert(column.name)"><i class="fa-solid fa-circle-xmark"></i></span>
                        </div>
                        <div id="error-task" hidden>
                            <small class="has-text-danger">Task is required</small>
                        </div>
                        
                    </div>
                <div class="task-container"
                cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="column.tasks"
                    (cdkDropListDropped)="drop($event, column.name)"
                    >
                    <div draggable="true" class="task level" *ngFor="let item of column.tasks"
                    [id] = "'task' + item"
                    cdkDrag 
                        [cdkDragData]="item"
                        (cdkDragStarted)="onDragOver($event, column, item)">
                       <p [id]="item" class="{{column.name}}" (dblclick)="showEditTask($event, item, column)"> {{item}} </p> 
                       <!-- <div class="level-right has-text-danger pointer delete-icon" style="display: none;" hidden><i class="fa-solid fa-sm fa-edit"></i></div> -->
                       <div class="level">
                           <div class="level-right pointer hidden-icon mr-2" style="display: none;" (click)="showEditTask($event, item, column)" hidden><i class="fa-solid fa-sm fa-edit"></i></div>
                           <div class="level-right has-text-danger pointer hidden-icon" style="display: none;" (click)="deleteTask(item, column)"  hidden><i class="fa-solid fa-sm fa-trash"></i></div>

                       </div>
                    </div>
                </div>
                </div>                
            </div>
        </div>

        <!-- modals add activity -->
        <div class="modal" id="modal-js-example">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add Activity</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <!-- Content ... -->
                    <input class="input is-info" id="new-activity" type="text" placeholder="New Activity" required>
                    <div id="error-activity" hidden>
                        <small class="has-text-danger">Activity is required</small>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" (click)="insertActivity()">Save</button>
                    <button class="button cancel">Cancel</button>
                </footer>
            </div>
        </div>

        <!-- modals My board -->
        <div class="modal" id="modal-my-board">
            <div class="modal-background"></div>
            <div class="modal-card" style="width: 50%;">
                <header class="modal-card-head">
                    <p class="modal-card-title">My Board</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <!-- Content ... -->
                    <div class="task-container"  *ngFor="let d of dbBoard">
                        <!-- {{if(d.name == board.name){} }} -->
                        <div class="task pointer box myboard"  [id]="'board' + d.id" (click)="activateBoard(d.id)">
                            {{d.name}}
                        </div>
                        <input type="radio" name="radioBoard" [id]="'radioBoard'+d.id" [value]="d.name" hidden>
                        
                    </div>
                    <!-- <div class="task-container">
                        <div class="task pointer box myboard">
                            My Board
                        </div>
                    </div> -->
                    
                    <!-- <input class="input is-info" id="new-activity" type="text" placeholder="New Activity" required>
                    <div id="error-activity" hidden>
                        <small class="has-text-danger">Activity is required</small>
                    </div> -->
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success">Load</button>
                    <button class="button cancel">Cancel</button>
                </footer>
            </div>
        </div>


    </div>


</div>
